<section class="features">
  <div class="container">
    <div class="row">
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-fire" aria-hidden="true"></i> Angular 4
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-hashtag" aria-hidden="true"></i> SASSy
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-window-maximize" aria-hidden="true"></i> Responsive
      </div>
      <div class="feature-item col-lg-3 col-md-6">
        <i class="fa fa-leaf" aria-hidden="true"></i> Clean
      </div>
    </div>
  </div>
</section>
<footer>
  <p>Made with <i class="fa fa-coffee" aria-hidden="true"></i> tea &amp; <i class="fa fa-music" aria-hidden="true"></i> music by AnnaK &copy; All rights reserved.</p>
</footer>
